* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}
.background {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, #11e8bb 0%, #8200c9 100%);
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}
